<h2>Paises</h2>
<hr>

<ul class="list-group">
    <li class="list-group-item" routerLinkActive="active" routerLink="home">
        Home Page
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="about">
        About Page
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="contact">
        Contact
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="countries/by-capital">
        por Capital
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="countries/by-country">
        por País
    </li>
    <li class="list-group-item" routerLinkActive="active" routerLink="countries/by-region">
        por Región
    </li>
</ul>